Connect to the database using credentials below:

    host: mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com
    port: 5432
    user: lhl_student
    pwd: lhl_student
    database: mid_term_project

The database contains all tables we need for the mid-term project.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import psycopg2

# Connect to your postgres DB
conn = psycopg2.connect(host = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com',
                       port = '5432',
                       user = 'lhl_student',
                       password = 'lhl_student',
                       database = 'mid_term_project')

# Open a cursor to perform database operations
cur = conn.cursor()

In [3]:
pd.read_sql("SELECT DISTINCT fl_date FROM flights ORDER BY fl_date DESC"
            ,conn)

        fl_date
0    2019-12-31
1    2019-12-30
2    2019-12-29
3    2019-12-28
4    2019-12-27
..          ...
725  2018-01-05
726  2018-01-04
727  2018-01-03
728  2018-01-02
729  2018-01-01

[730 rows x 1 columns]

Selecting flights from the following ranges: <br>
(January 1, 2018 - January 15th, 2018)<br>
(December 15, 2018 - January 15, 2019) <br>
(December 15, 2019 - December 31, 2019)

These values are likely to by the most representative of the test set, as they are dates that bound the holiday period, where flight habits are most likely to change for many people.  Could potentially extend it to other important American holidays such as thanksgiving or July 4th.

In [4]:
flight_data = pd.read_sql("SELECT * FROM flights WHERE (fl_date BETWEEN '2018-12-15'AND '2019-01-15') OR (fl_date BETWEEN '2018-01-01' AND '2018-01-15') OR (fl_date BETWEEN '2019-12-15' AND '2019-12-31')"
            ,conn)

In [16]:
flight_data

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
1328672,2018-01-12,WN,WN,WN,1420,WN,N7719A,1420,14122,PIT,...,966.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None
1328671,2018-01-12,WN,WN,WN,714,WN,N213WN,714,14122,PIT,...,1814.0,0.0,0.0,6.0,0.0,64.0,,NaN,NaN,None
1328670,2018-01-12,WN,WN,WN,1640,WN,N457WN,1640,14122,PIT,...,402.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None
1328669,2018-01-12,WN,WN,WN,1124,WN,N8648A,1124,14122,PIT,...,402.0,11.0,0.0,0.0,0.0,7.0,,NaN,NaN,None
1328668,2018-01-12,WN,WN,WN,882,WN,N780SW,882,14122,PIT,...,402.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2018-12-15,NK,NK,NK,446,NK,N621NK,446,12889,LAS,...,1514.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
3,2018-12-15,NK,NK,NK,445,NK,N504NK,445,11066,CMH,...,973.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
2,2018-12-15,NK,NK,NK,443,NK,N681NK,443,10821,BWI,...,925.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,2018-12-16,UA,UA_CODESHARE,UA,4119,EV,N14993,4119,11618,EWR,...,277.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
0,2018-12-15,NK,NK,NK,393,NK,N506NK,393,10397,ATL,...,425.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None

In [17]:
my_list = flight_data['arr_delay'].to_list()
sorted(my_list)[::-1]

[1287.0,
 1206.0,
 1179.0,
 1123.0,
 1032.0,
 991.0,
 981.0,
 953.0,
 929.0,
 892.0,
 832.0,
 792.0,
 784.0,
 781.0,
 777.0,
 750.0,
 666.0,
 640.0,
 638.0,
 609.0,
 597.0,
 583.0,
 579.0,
 554.0,
 529.0,
 518.0,
 507.0,
 475.0,
 472.0,
 463.0,
 459.0,
 452.0,
 450.0,
 416.0,
 409.0,
 407.0,
 400.0,
 399.0,
 399.0,
 397.0,
 389.0,
 384.0,
 378.0,
 374.0,
 370.0,
 359.0,
 357.0,
 356.0,
 355.0,
 353.0,
 353.0,
 350.0,
 345.0,
 341.0,
 340.0,
 338.0,
 337.0,
 326.0,
 324.0,
 324.0,
 318.0,
 310.0,
 309.0,
 309.0,
 303.0,
 303.0,
 303.0,
 301.0,
 294.0,
 293.0,
 291.0,
 287.0,
 287.0,
 281.0,
 277.0,
 265.0,
 264.0,
 257.0,
 256.0,
 250.0,
 248.0,
 248.0,
 245.0,
 243.0,
 242.0,
 240.0,
 240.0,
 239.0,
 238.0,
 238.0,
 238.0,
 237.0,
 237.0,
 237.0,
 236.0,
 236.0,
 235.0,
 235.0,
 234.0,
 234.0,
 233.0,
 231.0,
 231.0,
 230.0,
 230.0,
 226.0,
 226.0,
 225.0,
 223.0,
 222.0,
 222.0,
 221.0,
 218.0,
 218.0,
 215.0,
 214.0,
 213.0,
 211.0,
 208.0,
 206.0,
 205.0,
 204.0,
 203.0,
 202.0,
 202.0,
 201.0,
 201.0,
 200.0,
 199.0,
 198.0,
 198.0,
 195.0,
 195.0,
 194.0,
 192.0,
 192.0,
 190.0,
 190.0,
 188.0,
 188.0,
 187.0,
 187.0,
 187.0,
 186.0,
 186.0,
 184.0,
 184.0,
 182.0,
 182.0,
 180.0,
 178.0,
 177.0,
 177.0,
 177.0,
 177.0,
 176.0,
 176.0,
 174.0,
 173.0,
 171.0,
 170.0,
 170.0,
 170.0,
 169.0,
 167.0,
 167.0,
 166.0,
 165.0,
 165.0,
 165.0,
 164.0,
 164.0,
 164.0,
 164.0,
 163.0,
 163.0,
 162.0,
 162.0,
 161.0,
 161.0,
 160.0,
 160.0,
 160.0,
 159.0,
 157.0,
 156.0,
 154.0,
 153.0,
 153.0,
 152.0,
 151.0,
 151.0,
 151.0,
 150.0,
 150.0,
 150.0,
 149.0,
 148.0,
 147.0,
 146.0,
 146.0,
 145.0,
 144.0,
 144.0,
 144.0,
 144.0,
 143.0,
 143.0,
 143.0,
 142.0,
 142.0,
 142.0,
 141.0,
 141.0,
 137.0,
 137.0,
 136.0,
 136.0,
 135.0,
 135.0,
 134.0,
 134.0,
 134.0,
 133.0,
 133.0,
 133.0,
 133.0,
 130.0,
 130.0,
 130.0,
 129.0,
 129.0,
 127.0,
 127.0,
 127.0,
 126.0,
 125.0,
 125.0,
 125.0,
 125.0,
 124.0,
 124.0,
 123.0,
 123.0,
 122.0,
 122.0,
 122.0,
 122.0,
 121.0,
 119.0,
 118.0,
 118.0,
 118.0,
 118.0,
 118.0,
 118.0,
 117.0,
 117.0,
 116.0,
 116.0,
 116.0,
 116.0,
 115.0,
 115.0,
 115.0,
 115.0,
 114.0,
 114.0,
 114.0,
 113.0,
 113.0,
 113.0,
 112.0,
 111.0,
 110.0,
 110.0,
 110.0,
 110.0,
 110.0,
 109.0,
 108.0,
 108.0,
 108.0,
 107.0,
 107.0,
 107.0,
 106.0,
 106.0,
 105.0,
 105.0,
 104.0,
 104.0,
 104.0,
 103.0,
 103.0,
 103.0,
 102.0,
 102.0,
 102.0,
 102.0,
 101.0,
 101.0,
 100.0,
 100.0,
 100.0,
 99.0,
 99.0,
 99.0,
 99.0,
 99.0,
 98.0,
 98.0,
 98.0,
 98.0,
 98.0,
 97.0,
 97.0,
 97.0,
 97.0,
 97.0,
 96.0,
 96.0,
 96.0,
 96.0,
 96.0,
 96.0,
 95.0,
 95.0,
 95.0,
 94.0,
 94.0,
 94.0,
 94.0,
 94.0,
 93.0,
 93.0,
 93.0,
 92.0,
 92.0,
 92.0,
 92.0,
 92.0,
 92.0,
 91.0,
 91.0,
 91.0,
 91.0,
 91.0,
 91.0,
 91.0,
 91.0,
 90.0,
 90.0,
 90.0,
 90.0,
 90.0,
 89.0,
 89.0,
 89.0,
 89.0,
 88.0,
 88.0,
 88.0,
 88.0,
 88.0,
 88.0,
 88.0,
 87.0,
 87.0,
 87.0,
 87.0,
 87.0,
 86.0,
 86.0,
 86.0,
 85.0,
 85.0,
 85.0,
 85.0,
 85.0,
 85.0,
 84.0,
 84.0,
 84.0,
 84.0,
 84.0,
 83.0,
 83.0,
 83.0,
 83.0,
 83.0,
 83.0,
 82.0,
 82.0,
 82.0,
 82.0,
 81.0,
 81.0,
 81.0,
 81.0,
 81.0,
 81.0,
 80.0,
 80.0,
 80.0,
 80.0,
 80.0,
 80.0,
 80.0,
 79.0,
 79.0,
 79.0,
 79.0,
 79.0,
 79.0,
 78.0,
 78.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 77.0,
 76.0,
 76.0,
 76.0,
 76.0,
 76.0,
 76.0,
 75.0,
 75.0,
 75.0,
 75.0,
 75.0,
 75.0,
 75.0,
 74.0,
 74.0,
 74.0,
 74.0,
 74.0,
 73.0,
 73.0,
 73.0,
 73.0,
 73.0,
 73.0,
 73.0,
 72.0,
 72.0,
 72.0,
 72.0,
 72.0,
 72.0,
 72.0,
 71.0,
 71.0,
 71.0,
 71.0,
 71.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 69.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 68.0,
 67.0,
 67.0,
 67.0,
 67.0,
 66.0,
 66.0,
 66.0,
 66.0,
 66.0,
 66.0,
 66.0,
 66.0,
 65.0,
 65.0,
 65.0,
 65.0,
 65.0,
 64.0,
 64.0,
 64.0,
 64.0,
 63.0,
 63.0,
 63.0,
 63.0,
 63.0,
 63.0,
 63.0,
 63.0,
 63.0,
 63.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 62.0,
 61.0,
 61.0,
 61.0,
 61.0,
 61.0,
 61.0,
 61.0,
 60.0,
 60.0,
 60.0,
 60.0,
 60.0,
 60.0,
 60.0,
 60.0,
 60.0,
 60.0,
 59.0,
 59.0,
 59.0,
 59.0,
 59.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 58.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 57.0,
 56.0,
 56.0,
 56.0,
 56.0,
 56.0,
 55.0,
 55.0,
 55.0,
 55.0,
 55.0,
 55.0,
 55.0,
 55.0,
 55.0,
 55.0,
 55.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 54.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 53.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 51.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 50.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 49.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 48.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 41.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 40.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 39.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 38.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 34.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 33.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 32.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 ...]

In [6]:
# flight_data.to_csv('data/flights.csv')

Let's check out some of the other tables

In [7]:
pd.read_sql("SELECT * FROM fuel_comsumption LIMIT 15"
            ,conn)

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,None,0JQ,None,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5100.0,0.0,5100.0,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,396216.0,140239.0,536455.0,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405.0,0.0,0.0,0.0,0.0,522405.0,569497.0,0.0,569497.0,2016
5,1,19917.0,5X,5X,United Parcel Service,3,32138000.0,9743000.0,16116000.0,2972000.0,...,34098000.0,9752000.0,17965000.0,3524000.0,31241000.0,65339000.0,34098000.0,31241000.0,65339000.0,2016
6,1,20007.0,5Y,5Y,Atlas Air Inc.,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8575368.0,35795479.0,44370847.0,2016
7,1,19874.0,8C,8C,Air Transport International,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42347.0,1855154.0,1897501.0,2016
8,1,20363.0,9E,9E,Endeavor Air Inc.,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
9,1,20190.0,9S,9S,Southern Air Inc.,2,821638.0,4696010.0,580875.0,0.0,...,1725440.0,9861621.0,1219839.0,0.0,11081460.0,12806900.0,1725440.0,11081460.0,12806900.0,2016
10,1,19805.0,AA,AA,American Airlines Inc.,3,174110023.0,34804210.0,18848029.0,54176666.0,...,195098544.0,34536551.0,18632951.0,68174028.0,121343530.0,316442074.0,195806362.0,121537723.0,317344085.0,2016
11,1,20453.0,ABX,ABX,ABX Air Inc,2,193054.0,0.0,0.0,0.0,...,461092.0,0.0,0.0,0.0,0.0,461092.0,461092.0,0.0,461092.0,2016
12,1,19930.0,AS,AS,Alaska Airlines Inc.,3,36507433.0,0.0,0.0,1070108.0,...,45727266.0,0.0,0.0,1324811.0,1324811.0,47052077.0,45827760.0,1324811.0,47152571.0,2016
13,1,20409.0,B6,B6,JetBlue Airways,3,48414077.0,0.0,0.0,12141747.0,...,56262137.0,0.0,0.0,14109959.0,14109959.0,70372096.0,56262137.0,14275362.0,70537499.0,2016
14,1,21167.0,CP,CP,Compass Airlines,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016

In [8]:
passengers = pd.read_sql("SELECT * FROM passengers WHERE month = 12 OR month = 1"
            ,conn)

In [9]:
# passengers.to_csv('data/passengers.csv')

In [10]:
pd.read_sql("SELECT * FROM flights_test"
            ,conn)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660551,2020-01-31,DL,DL_CODESHARE,DL,4954,9E,N926XJ,4954,11278,DCA,"Washington, DC",11193,CVG,"Cincinnati, OH",1859,2041,N,102,1,411
660552,2020-01-31,DL,DL_CODESHARE,DL,4955,9E,N309PQ,4955,11278,DCA,"Washington, DC",11193,CVG,"Cincinnati, OH",1515,1702,N,107,1,411
660553,2020-01-31,DL,DL_CODESHARE,DL,4956,9E,N324PQ,4956,12478,JFK,"New York, NY",10785,BTV,"Burlington, VT",2205,2337,N,92,1,266
660554,2020-01-31,DL,DL_CODESHARE,DL,4957,9E,N132EV,4957,13930,ORD,"Chicago, IL",12478,JFK,"New York, NY",1035,1356,N,141,1,740
660555,2020-01-31,DL,DL_CODESHARE,DL,4958,9E,N390CA,4958,12953,LGA,"New York, NY",11057,CLT,"Charlotte, NC",2005,2222,N,137,1,544

In [11]:
pd.read_sql('SELECT * FROM fuel_comsumption LIMIT 20', conn)

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,None,0JQ,None,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5100.0,0.0,5100.0,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,396216.0,140239.0,536455.0,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405.0,0.0,0.0,0.0,0.0,522405.0,569497.0,0.0,569497.0,2016
5,1,19917.0,5X,5X,United Parcel Service,3,32138000.0,9743000.0,16116000.0,2972000.0,...,34098000.0,9752000.0,17965000.0,3524000.0,31241000.0,65339000.0,34098000.0,31241000.0,65339000.0,2016
6,1,20007.0,5Y,5Y,Atlas Air Inc.,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8575368.0,35795479.0,44370847.0,2016
7,1,19874.0,8C,8C,Air Transport International,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42347.0,1855154.0,1897501.0,2016
8,1,20363.0,9E,9E,Endeavor Air Inc.,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
9,1,20190.0,9S,9S,Southern Air Inc.,2,821638.0,4696010.0,580875.0,0.0,...,1725440.0,9861621.0,1219839.0,0.0,11081460.0,12806900.0,1725440.0,11081460.0,12806900.0,2016
10,1,19805.0,AA,AA,American Airlines Inc.,3,174110023.0,34804210.0,18848029.0,54176666.0,...,195098544.0,34536551.0,18632951.0,68174028.0,121343530.0,316442074.0,195806362.0,121537723.0,317344085.0,2016
11,1,20453.0,ABX,ABX,ABX Air Inc,2,193054.0,0.0,0.0,0.0,...,461092.0,0.0,0.0,0.0,0.0,461092.0,461092.0,0.0,461092.0,2016
12,1,19930.0,AS,AS,Alaska Airlines Inc.,3,36507433.0,0.0,0.0,1070108.0,...,45727266.0,0.0,0.0,1324811.0,1324811.0,47052077.0,45827760.0,1324811.0,47152571.0,2016
13,1,20409.0,B6,B6,JetBlue Airways,3,48414077.0,0.0,0.0,12141747.0,...,56262137.0,0.0,0.0,14109959.0,14109959.0,70372096.0,56262137.0,14275362.0,70537499.0,2016
14,1,21167.0,CP,CP,Compass Airlines,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016
15,1,19790.0,DL,DL,Delta Air Lines Inc.,3,137682215.0,51147892.0,38502896.0,30606142.0,...,187259219.0,69565371.0,52367129.0,41626889.0,163559389.0,350818608.0,190375249.0,164343753.0,354719002.0,2016
16,1,21650.0,EE,EE,Eastern Airlines Group Inc.,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,202646.0,292406.0,495052.0,2016
17,1,20366.0,EV,EV,ExpressJet Airlines Inc.,3,81827.0,0.0,0.0,0.0,...,159104.0,0.0,0.0,0.0,0.0,159104.0,159104.0,0.0,159104.0,2016
18,1,20436.0,F9,F9,Frontier Airlines Inc.,3,14431035.0,0.0,0.0,1659053.0,...,14466443.0,0.0,0.0,1912704.0,1912704.0,16379147.0,14532960.0,1912704.0,16445664.0,2016
19,1,20107.0,FX,FX,Federal Express Corporation,3,56549784.0,11101514.0,18643661.0,898730.0,...,58229000.0,12100000.0,22567000.0,1246000.0,35913000.0,94142000.0,59236000.0,37262000.0,96498000.0,2016