#### This notebook is where we will extract the pertinent weather data for the flights TEST data set

In [1]:
# Import pandas for df manipulations
import pandas as pd 

from functions import get_hour, time_of_day

In [2]:
# Load the datasets
weather = pd.read_csv('data/WeatherEvents_Jan2016-Dec2020.csv')
fl_data = pd.read_csv('data/flights_test.csv', low_memory = False)

In [3]:
# Inspect the data dataframe
fl_data.head()

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,...,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,...,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

Need to make an hour column in data

In [4]:
# Create a column with the hour that the plane departs and arrives

fl_data['dep_hour'] = fl_data['crs_dep_time'].apply(get_hour)
fl_data['arr_hour'] = fl_data['crs_arr_time'].apply(get_hour)
fl_data['arr_hour'].dtypes

dtype('int64')

In [5]:
# Create a column that assigns a period of the day to a departure
fl_data['dep_period'] = fl_data['dep_hour'].apply(time_of_day)
fl_data['arr_period'] = fl_data['arr_hour'].apply(time_of_day)
fl_data['arr_period'].value_counts()

Afternoon    54106
Evening      50081
Morning      41772
Night         4664
Name: arr_period, dtype: int64

In [6]:
# Build the matchcode variable for the fl_data table
fl_data['origin_match_code'] = fl_data['origin'].astype(str) + fl_data['fl_date'].astype(str) + fl_data['dep_period'].astype(str)
fl_data['dest_match_code'] = fl_data['dest'].astype(str) + fl_data['fl_date'].astype(str) + fl_data['arr_period'].astype(str)

In [7]:
# Let's engineer some columns a little bit
weather['date'] = pd.DatetimeIndex(weather['StartTime(UTC)']).date
weather['hour'] = pd.DatetimeIndex(weather['StartTime(UTC)']).hour
weather['period'] = weather['hour'].apply(time_of_day)
weather = weather.drop(columns = ['StartTime(UTC)', 'EndTime(UTC)'])

In [8]:
# Remove the K prefix from the airport codes
weather['AirportCode'] = weather['AirportCode'].apply(lambda x: x[1:])

In [9]:
# Encode the match code column to match values to the data dataframe
weather['match_code'] = weather['AirportCode'].astype(str) + weather['date'].astype(str) + weather['period'].astype(str)

In [10]:
# Drop unnecessary columns

weather = weather.drop(columns = ['EventId',
                                  'TimeZone',
                                 'AirportCode',
                                 'LocationLat',
                                 'LocationLng',
                                 'City',
                                 'County',
                                 'State',
                                 'ZipCode'])

In [11]:
# Drop duplicate values
weather = weather.drop_duplicates(subset = 'match_code')
weather.shape

(3097656, 6)

In [12]:
# Create dictionaries for severity and condition with match_code as the key
severity_dict = dict(zip(weather['match_code'], weather['Severity']))
condition_dict = dict(zip(weather['match_code'], weather['Type']))

In [13]:
len(severity_dict)

3097656

In [14]:
# Use the previously created dictionaries to add severity and condition to the flights dataset
fl_data['origin_weather_condition'] = fl_data['origin_match_code'].map(condition_dict)
fl_data['origin_weather_severity'] = fl_data['origin_match_code'].map(severity_dict)
fl_data['dest_weather_condition'] = fl_data['dest_match_code'].map(condition_dict)
fl_data['dest_weather_severity'] = fl_data['dest_match_code'].map(severity_dict)
fl_data.head(25)

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,dep_hour,arr_hour,dep_period,arr_period,origin_match_code,dest_match_code,origin_weather_condition,origin_weather_severity,dest_weather_condition,dest_weather_severity
0,0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,...,18,19,Evening,Evening,ONT2020-01-01Evening,SFO2020-01-01Evening,NaN,NaN,NaN,NaN
1,1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,...,11,13,Morning,Afternoon,ONT2020-01-01Morning,SFO2020-01-01Afternoon,NaN,NaN,NaN,NaN
2,2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,...,20,21,Evening,Evening,ONT2020-01-01Evening,SJC2020-01-01Evening,NaN,NaN,NaN,NaN
3,3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,...,13,14,Afternoon,Afternoon,ONT2020-01-01Afternoon,SJC2020-01-01Afternoon,NaN,NaN,NaN,NaN
4,4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,...,9,10,Morning,Morning,ONT2020-01-01Morning,SJC2020-01-01Morning,NaN,NaN,NaN,NaN
5,5,2020-01-01,WN,WN,WN,5684,WN,N7856A,5684,13891,...,6,7,Morning,Morning,ONT2020-01-01Morning,SJC2020-01-01Morning,NaN,NaN,NaN,NaN
6,6,2020-01-01,WN,WN,WN,6152,WN,N7735A,6152,13891,...,16,17,Afternoon,Afternoon,ONT2020-01-01Afternoon,SJC2020-01-01Afternoon,NaN,NaN,NaN,NaN
7,7,2020-01-01,WN,WN,WN,1679,WN,N405WN,1679,13891,...,15,16,Afternoon,Afternoon,ONT2020-01-01Afternoon,SMF2020-01-01Afternoon,NaN,NaN,Fog,Moderate
8,8,2020-01-01,WN,WN,WN,3479,WN,N489WN,3479,13891,...,12,13,Afternoon,Afternoon,ONT2020-01-01Afternoon,SMF2020-01-01Afternoon,NaN,NaN,Fog,Moderate
9,9,2020-01-01,WN,WN,WN,4069,WN,N7708E,4069,13891,...,7,9,Morning,Morning,ONT2020-01-01Morning,SMF2020-01-01Morning,NaN,NaN,NaN,NaN
10,10,2020-01-01,WN,WN,WN,4905,WN,N426WN,4905,13891,...,10,11,Morning,Morning,ONT2020-01-01Morning,SMF2020-01-01Morning,NaN,NaN,NaN,NaN
11,11,2020-01-01,WN,WN,WN,4918,WN,N455WN,4918,13891,...,20,21,Evening,Evening,ONT2020-01-01Evening,SMF2020-01-01Evening,NaN,NaN,Fog,Moderate
12,12,2020-01-01,WN,WN,WN,5144,WN,N8314L,5144,13891,...,22,0,Evening,Night,ONT2020-01-01Evening,SMF2020-01-01Night,NaN,NaN,NaN,NaN
13,13,2020-01-01,WN,WN,WN,5722,WN,N7820L,5722,13891,...,18,19,Evening,Evening,ONT2020-01-01Evening,SMF2020-01-01Evening,NaN,NaN,Fog,Moderate
14,14,2020-01-01,WN,WN,WN,3719,WN,N941WN,3719,13931,...,11,12,Morning,Afternoon,ORF2020-01-01Morning,BWI2020-01-01Afternoon,NaN,NaN,NaN,NaN
15,15,2020-01-01,WN,WN,WN,4863,WN,N496WN,4863,13931,...,6,7,Morning,Morning,ORF2020-01-01Morning,BWI2020-01-01Morning,NaN,NaN,NaN,NaN
16,16,2020-01-01,WN,WN,WN,4924,WN,N7732A,4924,13931,...,20,21,Evening,Evening,ORF2020-01-01Evening,BWI2020-01-01Evening,NaN,NaN,NaN,NaN
17,17,2020-01-01,WN,WN,WN,5321,WN,N7863A,5321,13931,...,17,18,Afternoon,Evening,ORF2020-01-01Afternoon,BWI2020-01-01Evening,NaN,NaN,NaN,NaN
18,18,2020-01-01,WN,WN,WN,4618,WN,N928WN,4618,13931,...,10,12,Morning,Afternoon,ORF2020-01-01Morning,MCO2020-01-01Afternoon,NaN,NaN,NaN,NaN
19,19,2020-01-01,WN,WN,WN,5992,WN,N410WN,5992,13931,...,16,18,Afternoon,Evening,ORF2020-01-01Afternoon,MDW2020-01-01Evening,NaN,NaN,NaN,NaN
20,20,2020-01-01,WN,WN,WN,1765,WN,N795SW,1765,14027,...,13,14,Afternoon,Afternoon,PBI2020-01-01Afternoon,ATL2020-01-01Afternoon,NaN,NaN,NaN,NaN
21,21,2020-01-01,WN,WN,WN,4887,WN,N246LV,4887,14027,...,7,9,Morning,Morning,PBI2020-01-01Morning,BWI2020-01-01Morning,NaN,NaN,NaN,NaN
22,22,2020-01-01,WN,WN,WN,4917,WN,N8568Z,4917,14027,...,17,20,Afternoon,Evening,PBI2020-01-01Afternoon,BWI2020-01-01Evening,NaN,NaN,NaN,NaN
23,23,2020-01-01,WN,WN,WN,5068,WN,N8658A,5068,14027,...,11,13,Morning,Afternoon,PBI2020-01-01Morning,BWI2020-01-01Afternoon,NaN,NaN,NaN,NaN
24,24,2020-01-01,WN,WN,WN,745,WN,N763SW,745,14027,...,7,10,Morning,Morning,PBI2020-01-01Morning,ISP2020-01-01Morning,NaN,NaN,NaN,NaN

In [15]:
fl_data.isna().sum()

Unnamed: 0                       0
fl_date                          0
mkt_unique_carrier               0
branded_code_share               0
mkt_carrier                      0
mkt_carrier_fl_num               0
op_unique_carrier                0
tail_num                       124
op_carrier_fl_num                0
origin_airport_id                0
origin                           0
origin_city_name                 0
dest_airport_id                  0
dest                             0
dest_city_name                   0
crs_dep_time                     0
crs_arr_time                     0
dup                              0
crs_elapsed_time                 0
flights                          0
distance                         0
dep_hour                         0
arr_hour                         0
dep_period                       0
arr_period                       0
origin_match_code                0
dest_match_code                  0
origin_weather_condition    121777
origin_weather_severity     121777
dest_weather_condition      121638
dest_weather_severity       121638
dtype: int64

In [16]:
# Replace NaN weather conditions with 'Clear' and severity with 'Light'
fl_data['origin_weather_condition'].fillna('Clear', inplace=True)
fl_data['origin_weather_severity'].fillna('Light', inplace=True)
fl_data['dest_weather_condition'].fillna('Clear', inplace=True)
fl_data['dest_weather_severity'].fillna('Light', inplace=True)
fl_data.head()

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,dep_hour,arr_hour,dep_period,arr_period,origin_match_code,dest_match_code,origin_weather_condition,origin_weather_severity,dest_weather_condition,dest_weather_severity
0,0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,...,18,19,Evening,Evening,ONT2020-01-01Evening,SFO2020-01-01Evening,Clear,Light,Clear,Light
1,1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,...,11,13,Morning,Afternoon,ONT2020-01-01Morning,SFO2020-01-01Afternoon,Clear,Light,Clear,Light
2,2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,...,20,21,Evening,Evening,ONT2020-01-01Evening,SJC2020-01-01Evening,Clear,Light,Clear,Light
3,3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,...,13,14,Afternoon,Afternoon,ONT2020-01-01Afternoon,SJC2020-01-01Afternoon,Clear,Light,Clear,Light
4,4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,...,9,10,Morning,Morning,ONT2020-01-01Morning,SJC2020-01-01Morning,Clear,Light,Clear,Light

In [17]:
fl_data['dest_weather_condition'].value_counts()

Clear            121638
Rain              16850
Fog                6922
Snow               4605
Cold                343
Storm               258
Precipitation         6
Hail                  1
Name: dest_weather_condition, dtype: int64

In [18]:
# Write the data to a new csv
fl_data.to_csv('data/flights_test_weather.csv')